body, html {
	line-height: 1;
	font-family: trade, sans-serif;
	-webkit-font-smoothing: antiliased;
	-webkit-tap-highlight-color: transparent;
	background-color: #38434F;
	margin: 0;
	padding: 0;
}

#header {
	background-color: #38434F;
	width: auto;
	height: 2rem;
	font-size: 2rem;
	font: inherit;
	color: #F5F5F5;
	text-transform: uppercase;
	float: top;
	vertical-align: top;
}
#wrapper {
	background-color: #F87620;
	width: auto;
	height: 1400px;
	margin: 0;
}

#main {
	background-color: #F5F5F5;
	width: 70%;
	margin-left: 15%;
	height: 1400px;
	box-shadow: 2px 2px 10px #2E2E2E;
}

#main img {
		width: 60px;
		border-radius: 50%;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
}

#main p {
	text-align: center;
}

#left {
	width: 28%;
	height: 20px;
	background-color: #232A31;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
}

#middle {
	width: 14%;
	height: 20px;
	background-color: #F87620;
	display: inline;
	margin-left: 28%;
	padding: 0;
	position: absolute;
}

#right {
	width: 28%;
	height: 20px;
	background-color: #232A31;
	display: inline;
	margin: 0;
	padding: 0;
	float: right;
	position: absolute;
	margin-left: 42%;
}

#buffer {
	height: 20px;
	width: 100%;
	display: block;
	background-color: #FFFFFF;
}

#yes {
	position: relative;
	float: right;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 80px;
	font: inherit;
	font-size: 5rem;
	text-transform: uppercase;
	color: white;
	z-index: 50;
	margin-right: -140px;

}

#no {
	position: absolute;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-left: -100px;
	margin-top: 80px;
	font: inherit;
	font-size: 5rem;
	text-transform: uppercase;
	color: white;
}

#maincontent {
	margin-left: -30px;
}

#maincontent span {
	float: left;
}


.hiring {
	width: 100%;
}
